# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\kathe\OneDrive\Documents\C++\Lecture9\JinningYang_001029162_WalmartSmartPointer\WalmartUniquePointer\.idea/dataSources/
/dataSources.local.xml
# 基于编辑器的 HTTP 客户端请求
/httpRequests/
